In [1]:
import pandas as pd
import os
import numpy as np

In [37]:
os.path

In [3]:
dict_2018 = pd.read_excel('Data/ZIP_TRACT_122018.xlsx')

In [4]:
dict_2018

          zip        tract  res_ratio  bus_ratio  oth_ratio  tot_ratio
0         601  72001956700   0.671739   0.411079   0.530973   0.654116
1         603  72005401302   0.082247   0.036098   0.072491   0.079523
2         623  72023830400   0.331718   0.551763   0.479730   0.344927
3         638  72039955700   0.436658   0.819444   0.777778   0.455135
4         646  72051540100   0.142668   0.342226   0.148515   0.156662
...       ...          ...        ...        ...        ...        ...
171496  77327  48291700700   0.000075   0.000000   0.000000   0.000070
171497  79853  48141010506   1.000000   0.000000   0.000000   0.714286
171498  11040  36059302300   0.000000   0.000692   0.000000   0.000063
171499  15205  42003562600   0.000082   0.000000   0.000000   0.000069
171500  98447  53053071504   0.000000   1.000000   0.000000   1.000000

[171501 rows x 6 columns]

In [14]:
d2018 = dict_2018[['tract', 'zip']]

In [15]:
d2018

              tract    zip
0       72001956700    601
1       72005401302    603
2       72023830400    623
3       72039955700    638
4       72051540100    646
...             ...    ...
171496  48291700700  77327
171497  48141010506  79853
171498  36059302300  11040
171499  42003562600  15205
171500  53053071504  98447

[171501 rows x 2 columns]

## Combine Age Data into one spreadsheet

In [16]:
age2534 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 25 to 34.xlsx',sheet_name='Age 25 to 34')
age3544 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 35-44.xlsx',sheet_name='Age 35 to 44')
age4554 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 45 to 54.xlsx',sheet_name='Age 45 to 54')
age5564 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 55 to 64.xlsx',sheet_name='Age 55 to 64')
age65 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 65 or older.xlsx', sheet_name='People age 65 or older')
agemed = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Median Age.xlsx', sheet_name = 'Median Age')

In [17]:
age2534 = age2534.drop(index=range(74134,74145))
age3544 = age3544.drop(index=range(74134,74145))
age4554 = age4554.drop(index=range(74134,74145))
age5564 = age5564.drop(index=range(74134,74145))
age65 = age65.drop(index=range(74134,74145))
agemed = agemed.drop(index=range(74134,74145))

In [18]:
def merger(*args):
    new = args[0]
    for i in range(len(args)-1):
        new = pd.merge(new,args[i+1],how = 'inner')
    return new
age = merger(age2534,age3544,age4554,age5564,age65,agemed)

In [19]:
age

,Census Tract,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
0,01001020100,AL,1.001020e+09,1.001020e+09,10.04,12.32,16.59,16.07,12.74,40.0
1,01001020200,AL,1.001020e+09,1.001020e+09,14.30,14.64,17.31,10.90,14.00,39.0
2,01001020300,AL,1.001020e+09,1.001020e+09,20.43,10.67,11.13,10.30,16.69,37.0
3,01001020400,AL,1.001020e+09,1.001020e+09,10.86,9.81,14.80,13.29,23.52,43.0
4,01001020500,AL,1.001020e+09,1.001020e+09,15.62,14.43,13.95,10.71,13.82,37.0
...,...,...,...,...,...,...,...,...,...,...
74129,78030960900,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN,NaN
74130,78030961000,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN,NaN
74131,78030961100,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN,NaN
74132,78030961200,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN,NaN
74133,78030990000,VI,7.803099e+10,7.803099e+10,NaN,NaN,NaN,NaN,NaN,NaN

## We can use Census Tract as Index

In [20]:
age['Census Tract'].is_unique

True

In [21]:
age = age.set_index('Census Tract')

## Change data type(object to int)

In [22]:
age.index = age.index.astype('int64')

In [11]:
age.dtypes

State                                                               object
FIPS Code                                                          float64
Formatted FIPS                                                     float64
Estimated percent of all people age 25-34, between 2014-2018.      float64
Estimated percent of all people age 35-44, between 2014-2018.      float64
Estimated percent of all people age 45-54, between 2014-2018.      float64
Estimated percent of all people age 55-64, between 2014-2018.      float64
Estimated percent of all people 65 or older, between 2014-2018.    float64
Estimated typical (median) age of all people between 2013-2017.    float64
dtype: object

In [23]:
age = age.sort_index()

In [24]:
age

,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
Census Tract,,,,,,,,,
1001020100,AL,1.001020e+09,1.001020e+09,10.04,12.32,16.59,16.07,12.74,40.0
1001020200,AL,1.001020e+09,1.001020e+09,14.30,14.64,17.31,10.90,14.00,39.0
1001020300,AL,1.001020e+09,1.001020e+09,20.43,10.67,11.13,10.30,16.69,37.0
1001020400,AL,1.001020e+09,1.001020e+09,10.86,9.81,14.80,13.29,23.52,43.0
1001020500,AL,1.001020e+09,1.001020e+09,15.62,14.43,13.95,10.71,13.82,37.0
...,...,...,...,...,...,...,...,...,...
78030960900,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN,NaN
78030961000,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN,NaN
78030961100,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN,NaN
78030961200,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN,NaN
78030990000,VI,7.803099e+10,7.803099e+10,NaN,NaN,NaN,NaN,NaN,NaN

## Just use the newest dict

In [27]:
d2018['zip'] = d2018['zip'].astype('str')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
d2018['zip']  = d2018['zip'].apply(lambda x:('00'+x)[-5:] if len(x) <= 4 else x)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
d2018

              tract    zip
0       72001956700  00601
1       72005401302  00603
2       72023830400  00623
3       72039955700  00638
4       72051540100  00646
...             ...    ...
171496  48291700700  77327
171497  48141010506  79853
171498  36059302300  11040
171499  42003562600  15205
171500  53053071504  98447

[171501 rows x 2 columns]

In [30]:
d2018.merge(age, how = 'left', left_on = 'tract', right_on = 'Census Tract')

,tract,zip,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
0,72001956700,00601,PR,7.200196e+10,7.200196e+10,11.87,13.57,11.24,11.96,15.22,39.0
1,72005401302,00603,PR,7.200540e+10,7.200540e+10,12.69,15.71,10.92,16.61,20.20,39.0
2,72023830400,00623,PR,7.202383e+10,7.202383e+10,12.81,9.44,12.16,12.60,22.20,35.0
3,72039955700,00638,PR,7.203996e+10,7.203996e+10,13.75,10.27,10.90,6.56,17.36,32.0
4,72051540100,00646,PR,7.205154e+10,7.205154e+10,13.28,10.52,11.60,10.16,26.31,44.0
...,...,...,...,...,...,...,...,...,...,...,...
171496,48291700700,77327,TX,4.829170e+10,4.829170e+10,9.18,10.61,11.11,15.18,17.55,40.0
171497,48141010506,79853,TX,4.814101e+10,4.814101e+10,10.41,15.08,10.84,10.99,7.79,26.0
171498,36059302300,11040,NY,3.605930e+10,3.605930e+10,7.83,8.05,14.25,16.96,23.53,48.0
171499,42003562600,15205,PA,4.200356e+10,4.200356e+10,13.98,12.26,11.80,14.02,12.26,32.0
171500,53053071504,98447,WA,5.305307e+10,5.305307e+10,10.46,11.02,12.34,6.77,6.06,23.0

## Looks like there is some missing data (dict > Age Data)

In [31]:
d2018.merge(age, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna()

,tract,zip,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
0,72001956700,00601,PR,7.200196e+10,7.200196e+10,11.87,13.57,11.24,11.96,15.22,39.0
1,72005401302,00603,PR,7.200540e+10,7.200540e+10,12.69,15.71,10.92,16.61,20.20,39.0
2,72023830400,00623,PR,7.202383e+10,7.202383e+10,12.81,9.44,12.16,12.60,22.20,35.0
3,72039955700,00638,PR,7.203996e+10,7.203996e+10,13.75,10.27,10.90,6.56,17.36,32.0
4,72051540100,00646,PR,7.205154e+10,7.205154e+10,13.28,10.52,11.60,10.16,26.31,44.0
...,...,...,...,...,...,...,...,...,...,...,...
171496,48291700700,77327,TX,4.829170e+10,4.829170e+10,9.18,10.61,11.11,15.18,17.55,40.0
171497,48141010506,79853,TX,4.814101e+10,4.814101e+10,10.41,15.08,10.84,10.99,7.79,26.0
171498,36059302300,11040,NY,3.605930e+10,3.605930e+10,7.83,8.05,14.25,16.96,23.53,48.0
171499,42003562600,15205,PA,4.200356e+10,4.200356e+10,13.98,12.26,11.80,14.02,12.26,32.0
171500,53053071504,98447,WA,5.305307e+10,5.305307e+10,10.46,11.02,12.34,6.77,6.06,23.0

## Reset index to zipcode

In [33]:
d2018.merge(age, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna().set_index('zip').sort_index()

,tract,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
zip,,,,,,,,,,
00501,36103158607,NY,3.610316e+10,3.610316e+10,14.95,11.62,22.52,13.01,10.54,38.0
00601,72001956700,PR,7.200196e+10,7.200196e+10,11.87,13.57,11.24,11.96,15.22,39.0
00601,72001956600,PR,7.200196e+10,7.200196e+10,15.24,7.17,13.70,13.65,18.96,39.0
00601,72113071700,PR,7.211307e+10,7.211307e+10,14.85,10.97,7.66,6.16,23.07,32.0
00602,72003430300,PR,7.200343e+10,7.200343e+10,11.56,11.64,12.41,17.61,21.15,47.0
...,...,...,...,...,...,...,...,...,...,...
99925,2198000200,AK,2.198000e+09,2.198000e+09,11.46,11.30,15.79,17.44,12.91,43.0
99926,2198940100,AK,2.198940e+09,2.198940e+09,13.70,9.66,13.21,12.97,12.78,33.0
99927,2198000100,AK,2.198000e+09,2.198000e+09,11.87,11.95,14.58,17.64,17.86,44.0
99928,2130000100,AK,2.130000e+09,2.130000e+09,9.72,12.92,16.10,16.46,15.76,44.0
99929,2275000300,AK,2.275000e+09,2.275000e+09,10.59,8.37,13.89,20.57,22.06,49.0

## For each index(Zip_1), we want the average of all the data belonging to this zipcode
 - we do not want unrelated columns to be averaged so just drop them.

In [34]:
df = d2018.merge(age, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna().set_index('zip').sort_index()

In [36]:
output = df.groupby(df.index).agg('mean').drop(['tract','FIPS Code', 'Formatted FIPS',],axis=1)

In [37]:
output.to_csv('Age_Output.csv')