In [48]:
import pandas as pd

In [49]:
df_1 = pd.read_csv('AgeEduEthHHS.csv')
df_2 = pd.read_excel('Ethnicity.xlsx')

In [50]:
df_1 = df_1.drop('index',axis=1)

In [51]:
df_1.head()

,ZipCode,City,State,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.,"Estimated percent of people with a Bachelor's degree, between 20",...,Estimated percent of all people who were Asian between 2013-2017,Estimated percent of all people who were Black between 2013-2017,Estimated percent of all people who were Hispanic between 2013-2,Estimated percent of all people who were White between 2013-2017,"Estimated average size of a household, between 2014-2018.","Estimated median gross rent, between 2014-2018.","Estimated median value of an owner-occupied home, between 2014-2018","Estimated median income of a household, between 2014-2018.","Estimated median owner cost burden, between 2014-2018.","Estimated median renter cost burden, between 2014-2018."
0,501,HOLTSVILLE,NY,14.950000,11.620000,22.520000,13.010000,10.540000,38.000000,16.000000,...,1.760000,1.760000,21.320000,94.150000,2.470000,1378.000000,319300.0,94898.0,23.500000,21.500000
1,601,ADJUNTAS,PR,13.986667,10.570000,10.866667,10.590000,19.083333,36.666667,16.390000,...,1.343333,1.333333,98.146667,79.600000,2.673333,514.666667,108700.0,12740.0,15.333333,31.866667
2,602,AGUADA,PR,11.242500,12.730000,13.905000,14.912500,18.190000,42.250000,18.270000,...,0.250000,4.377500,92.880000,69.382500,2.752500,482.000000,110975.0,18458.5,14.925000,29.875000
3,603,AGUADILLA,PR,12.026471,12.126471,12.684118,13.198824,20.614118,41.470588,17.274118,...,1.009412,3.694706,97.208235,73.702353,2.481875,418.562500,108950.0,15634.5,13.093750,32.843750
4,604,AGUADILLA,PR,8.730000,17.290000,14.590000,12.110000,12.750000,38.000000,39.250000,...,1.000000,5.280000,86.370000,71.950000,2.250000,751.000000,154000.0,26890.0,19.900000,26.800000

In [52]:
df_2.head()

   zip     Asian     Black   Hispanic      White Predominant
0  501  1.760000  1.760000  21.320000  94.150000       White
1  601  1.343333  1.333333  98.146667  79.600000    Hispanic
2  602  0.250000  4.377500  92.880000  69.382500    Hispanic
3  603  1.009412  3.694706  97.208235  73.702353    Hispanic
4  604  1.000000  5.280000  86.370000  71.950000    Hispanic

In [53]:
df_2['sum'] = df_2['Asian']+df_2['Black']+df_2['Hispanic']+df_2['White']

In [54]:
df_2

         zip     Asian     Black   Hispanic      White Predominant         sum
0        501  1.760000  1.760000  21.320000  94.150000       White  118.990000
1        601  1.343333  1.333333  98.146667  79.600000    Hispanic  180.423333
2        602  0.250000  4.377500  92.880000  69.382500    Hispanic  166.890000
3        603  1.009412  3.694706  97.208235  73.702353    Hispanic  175.614706
4        604  1.000000  5.280000  86.370000  71.950000    Hispanic  164.600000
...      ...       ...       ...        ...        ...         ...         ...
39226  99925  1.290000  0.230000   2.260000  60.870000       White   64.650000
39227  99926  1.430000  0.000000   7.660000  13.540000       White   22.630000
39228  99927  0.760000  0.180000   2.290000  56.420000       White   59.650000
39229  99928  2.240000  0.550000   3.070000  84.660000       White   90.520000
39230  99929  3.110000  0.160000   3.150000  65.940000       White   72.360000

[39231 rows x 7 columns]

In [55]:
df_2['Asian']=df_2['Asian']/df_2['sum']*100
df_2['Black']=df_2['Black']/df_2['sum']*100
df_2['Hispanic']=df_2['Hispanic']/df_2['sum']*100
df_2['White']=df_2['White']/df_2['sum']*100

In [56]:
df_2

         zip     Asian     Black   Hispanic      White Predominant         sum
0        501  1.479116  1.479116  17.917472  79.124296       White  118.990000
1        601  0.744545  0.739003  54.397990  44.118462    Hispanic  180.423333
2        602  0.149799  2.622985  55.653424  41.573791    Hispanic  166.890000
3        603  0.574788  2.103870  55.353129  41.968212    Hispanic  175.614706
4        604  0.607533  3.207776  52.472661  43.712029    Hispanic  164.600000
...      ...       ...       ...        ...        ...         ...         ...
39226  99925  1.995360  0.355762   3.495746  94.153132       White   64.650000
39227  99926  6.319046  0.000000  33.848873  59.832081       White   22.630000
39228  99927  1.274099  0.301760   3.839061  94.585080       White   59.650000
39229  99928  2.474591  0.607601   3.391516  93.526293       White   90.520000
39230  99929  4.297955  0.221117   4.353234  91.127695       White   72.360000

[39231 rows x 7 columns]

In [57]:
df_1.merge(df_2[['zip','Asian','Black','Hispanic','White','Predominant']], left_on = 'ZipCode', right_on = 'zip',how='left').drop('zip',axis=1).set_index('ZipCode')

,City,State,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.,"Estimated percent of people with a Bachelor's degree, between 20",Estimated percent of people with a high school diploma and no co,...,"Estimated median gross rent, between 2014-2018.","Estimated median value of an owner-occupied home, between 2014-2018","Estimated median income of a household, between 2014-2018.","Estimated median owner cost burden, between 2014-2018.","Estimated median renter cost burden, between 2014-2018.",Asian,Black,Hispanic,White,Predominant
ZipCode,,,,,,,,,,,,,,,,,,,,,
501,HOLTSVILLE,NY,14.950000,11.620000,22.520000,13.010000,10.540000,38.000000,16.000000,37.650000,...,1378.000000,319300.0,94898.0,23.500000,21.500000,1.479116,1.479116,17.917472,79.124296,White
601,ADJUNTAS,PR,13.986667,10.570000,10.866667,10.590000,19.083333,36.666667,16.390000,22.976667,...,514.666667,108700.0,12740.0,15.333333,31.866667,0.744545,0.739003,54.397990,44.118462,Hispanic
602,AGUADA,PR,11.242500,12.730000,13.905000,14.912500,18.190000,42.250000,18.270000,24.102500,...,482.000000,110975.0,18458.5,14.925000,29.875000,0.149799,2.622985,55.653424,41.573791,Hispanic
603,AGUADILLA,PR,12.026471,12.126471,12.684118,13.198824,20.614118,41.470588,17.274118,27.545882,...,418.562500,108950.0,15634.5,13.093750,32.843750,0.574788,2.103870,55.353129,41.968212,Hispanic
604,AGUADILLA,PR,8.730000,17.290000,14.590000,12.110000,12.750000,38.000000,39.250000,14.800000,...,751.000000,154000.0,26890.0,19.900000,26.800000,0.607533,3.207776,52.472661,43.712029,Hispanic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99926,METLAKATLA,AK,13.700000,9.660000,13.210000,12.970000,12.780000,33.000000,6.580000,35.760000,...,671.000000,143100.0,53409.0,11.600000,18.200000,6.319046,0.000000,33.848873,59.832081,White
99927,POINT BAKER,AK,11.870000,11.950000,14.580000,17.640000,17.860000,44.000000,12.800000,38.660000,...,860.000000,165100.0,46411.0,11.800000,22.600000,1.274099,0.301760,3.839061,94.585080,White
99928,WARD COVE,AK,9.720000,12.920000,16.100000,16.460000,15.760000,44.000000,16.510000,27.430000,...,1435.000000,309600.0,85362.0,17.200000,27.200000,2.474591,0.607601,3.391516,93.526293,White
99929,WRANGELL,AK,10.590000,8.370000,13.890000,20.570000,22.060000,49.000000,14.030000,36.620000,...,809.000000,212600.0,57583.0,16.700000,28.100000,4.297955,0.221117,4.353234,91.127695,White
54472,NaN,NaN,9.400000,11.460000,13.930000,15.610000,21.800000,45.000000,13.750000,39.660000,...,709.000000,135300.0,46875.0,17.500000,31.600000,2.422007,0.000000,2.601415,94.976577,White

In [71]:
df_3 = df_1.merge(df_2[['zip','Asian','Black','Hispanic','White','Predominant']], left_on = 'ZipCode', right_on = 'zip',how='left').drop('zip',axis=1)

## 2.16 Add Zip Code population Data

In [69]:
df_zipcode_population = pd.read_csv('2.16 ZipCode Population/zip-codes-database-FREE.csv')

In [70]:
df_zipcode_population

,ZipCode,City,State,Latitude,Longitude,Classification,Population
0,501,HOLTSVILLE,NY,40.8179,-73.0453,U,0
1,544,HOLTSVILLE,NY,40.7888,-73.0394,U,0
2,601,ADJUNTAS,PR,18.1967,-66.7367,NaN,18570
3,602,AGUADA,PR,18.3529,-67.1775,NaN,41520
4,603,AGUADILLA,PR,18.4586,-67.1299,NaN,54689
...,...,...,...,...,...,...,...
41725,99926,METLAKATLA,AK,55.1450,-131.5439,P,1460
41726,99927,POINT BAKER,AK,56.1513,-133.3490,P,94
41727,99928,WARD COVE,AK,55.4104,-131.7237,P,0
41728,99929,WRANGELL,AK,56.1800,-132.0304,P,2338
41729,99950,KETCHIKAN,AK,55.8159,-132.9799,P,0

In [75]:
df_3 = df_3.merge(df_zipcode_population[['ZipCode','Population']], on = 'ZipCode', how = 'left').dropna()
df_3

,ZipCode,City,State,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.,"Estimated percent of people with a Bachelor's degree, between 20",...,"Estimated median value of an owner-occupied home, between 2014-2018","Estimated median income of a household, between 2014-2018.","Estimated median owner cost burden, between 2014-2018.","Estimated median renter cost burden, between 2014-2018.",Asian,Black,Hispanic,White,Predominant,Population
0,501,HOLTSVILLE,NY,14.950000,11.620000,22.520000,13.010000,10.540000,38.000000,16.000000,...,319300.0,94898.0,23.500000,21.500000,1.479116,1.479116,17.917472,79.124296,White,0.0
1,601,ADJUNTAS,PR,13.986667,10.570000,10.866667,10.590000,19.083333,36.666667,16.390000,...,108700.0,12740.0,15.333333,31.866667,0.744545,0.739003,54.397990,44.118462,Hispanic,18570.0
2,602,AGUADA,PR,11.242500,12.730000,13.905000,14.912500,18.190000,42.250000,18.270000,...,110975.0,18458.5,14.925000,29.875000,0.149799,2.622985,55.653424,41.573791,Hispanic,41520.0
3,603,AGUADILLA,PR,12.026471,12.126471,12.684118,13.198824,20.614118,41.470588,17.274118,...,108950.0,15634.5,13.093750,32.843750,0.574788,2.103870,55.353129,41.968212,Hispanic,54689.0
4,604,AGUADILLA,PR,8.730000,17.290000,14.590000,12.110000,12.750000,38.000000,39.250000,...,154000.0,26890.0,19.900000,26.800000,0.607533,3.207776,52.472661,43.712029,Hispanic,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38534,99925,KLAWOCK,AK,11.460000,11.300000,15.790000,17.440000,12.910000,43.000000,12.340000,...,223900.0,63462.0,13.700000,22.100000,1.995360,0.355762,3.495746,94.153132,White,819.0
38535,99926,METLAKATLA,AK,13.700000,9.660000,13.210000,12.970000,12.780000,33.000000,6.580000,...,143100.0,53409.0,11.600000,18.200000,6.319046,0.000000,33.848873,59.832081,White,1460.0
38536,99927,POINT BAKER,AK,11.870000,11.950000,14.580000,17.640000,17.860000,44.000000,12.800000,...,165100.0,46411.0,11.800000,22.600000,1.274099,0.301760,3.839061,94.585080,White,94.0
38537,99928,WARD COVE,AK,9.720000,12.920000,16.100000,16.460000,15.760000,44.000000,16.510000,...,309600.0,85362.0,17.200000,27.200000,2.474591,0.607601,3.391516,93.526293,White,0.0
38538,99929,WRANGELL,AK,10.590000,8.370000,13.890000,20.570000,22.060000,49.000000,14.030000,...,212600.0,57583.0,16.700000,28.100000,4.297955,0.221117,4.353234,91.127695,White,2338.0

In [76]:
df_3.ZipCode = df_3.ZipCode.astype('str')
df_3.ZipCode  = df_3.ZipCode.apply(lambda x:('00'+x)[-5:] if len(x) <= 4 else x)

In [77]:
df_3

,ZipCode,City,State,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.","Estimated percent of all people 65 or older, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.,"Estimated percent of people with a Bachelor's degree, between 20",...,"Estimated median value of an owner-occupied home, between 2014-2018","Estimated median income of a household, between 2014-2018.","Estimated median owner cost burden, between 2014-2018.","Estimated median renter cost burden, between 2014-2018.",Asian,Black,Hispanic,White,Predominant,Population
0,00501,HOLTSVILLE,NY,14.950000,11.620000,22.520000,13.010000,10.540000,38.000000,16.000000,...,319300.0,94898.0,23.500000,21.500000,1.479116,1.479116,17.917472,79.124296,White,0.0
1,00601,ADJUNTAS,PR,13.986667,10.570000,10.866667,10.590000,19.083333,36.666667,16.390000,...,108700.0,12740.0,15.333333,31.866667,0.744545,0.739003,54.397990,44.118462,Hispanic,18570.0
2,00602,AGUADA,PR,11.242500,12.730000,13.905000,14.912500,18.190000,42.250000,18.270000,...,110975.0,18458.5,14.925000,29.875000,0.149799,2.622985,55.653424,41.573791,Hispanic,41520.0
3,00603,AGUADILLA,PR,12.026471,12.126471,12.684118,13.198824,20.614118,41.470588,17.274118,...,108950.0,15634.5,13.093750,32.843750,0.574788,2.103870,55.353129,41.968212,Hispanic,54689.0
4,00604,AGUADILLA,PR,8.730000,17.290000,14.590000,12.110000,12.750000,38.000000,39.250000,...,154000.0,26890.0,19.900000,26.800000,0.607533,3.207776,52.472661,43.712029,Hispanic,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38534,99925,KLAWOCK,AK,11.460000,11.300000,15.790000,17.440000,12.910000,43.000000,12.340000,...,223900.0,63462.0,13.700000,22.100000,1.995360,0.355762,3.495746,94.153132,White,819.0
38535,99926,METLAKATLA,AK,13.700000,9.660000,13.210000,12.970000,12.780000,33.000000,6.580000,...,143100.0,53409.0,11.600000,18.200000,6.319046,0.000000,33.848873,59.832081,White,1460.0
38536,99927,POINT BAKER,AK,11.870000,11.950000,14.580000,17.640000,17.860000,44.000000,12.800000,...,165100.0,46411.0,11.800000,22.600000,1.274099,0.301760,3.839061,94.585080,White,94.0
38537,99928,WARD COVE,AK,9.720000,12.920000,16.100000,16.460000,15.760000,44.000000,16.510000,...,309600.0,85362.0,17.200000,27.200000,2.474591,0.607601,3.391516,93.526293,White,0.0
38538,99929,WRANGELL,AK,10.590000,8.370000,13.890000,20.570000,22.060000,49.000000,14.030000,...,212600.0,57583.0,16.700000,28.100000,4.297955,0.221117,4.353234,91.127695,White,2338.0

In [79]:
df_3.set_index('ZipCode').to_csv('FinalSEData_2.16.csv')