In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.path

In [3]:
dict_2018 = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/Tract to Zipcode/ZIP_TRACT_122018.xlsx')

In [4]:
d2018 = dict_2018[['tract', 'zip']]

## Combine Ethnicity Data into one spreadsheet

In [6]:
asian = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/Ethnicity/Estimated Asian Percentage 2013 to 2017.xlsx',sheet_name="Estimated Asian pop")
black = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/Ethnicity/Estimated Black Percentage 2013 to 2017.xlsx',sheet_name='Black percentage pop')
hispanic = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/Ethnicity/Estimated Hispanic Percentage 2013 to 2017.xlsx',sheet_name='Estimated Hispanic pop')
white = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/Ethnicity/Estimated White Percentage 2013 to 2017.xlsx',sheet_name='Estimated White pop')

In [11]:
def merger(*args):
    new = args[0]
    for i in range(len(args)-1):
        new = pd.merge(new,args[i+1],how = 'inner')
    return new
ethnicity = merger(asian,black,hispanic,white)

In [12]:
ethnicity

,Census Tract,State,FIPS Code,Formatted FIPS,Estimated percent of all people who were Asian between 2013-2017,Estimated percent of all people who were Black between 2013-2017,Estimated percent of all people who were Hispanic between 2013-2,Estimated percent of all people who were White between 2013-2017
0,01001020100,AL,1.001020e+09,1.001020e+09,1.19,5.20,2.38,88.67
1,01001020200,AL,1.001020e+09,1.001020e+09,1.01,54.51,1.06,42.03
2,01001020300,AL,1.001020e+09,1.001020e+09,0.74,26.47,8.04,61.39
3,01001020400,AL,1.001020e+09,1.001020e+09,0.23,8.34,9.56,80.69
4,01001020500,AL,1.001020e+09,1.001020e+09,3.06,16.44,0.92,78.44
...,...,...,...,...,...,...,...,...
74129,78030960900,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN
74130,78030961000,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN
74131,78030961100,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN
74132,78030961200,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN
74133,78030990000,VI,7.803099e+10,7.803099e+10,NaN,NaN,NaN,NaN

## We can use Census Tract as Index

In [14]:
ethnicity['Census Tract'].is_unique

True

In [15]:
ethnicity = ethnicity.set_index('Census Tract')

## Change data type(object to int)

In [16]:
ethnicity.index = ethnicity.index.astype('int64')

In [17]:
ethnicity.dtypes

State                                                                object
FIPS Code                                                           float64
Formatted FIPS                                                      float64
Estimated percent of all people who were Asian between 2013-2017    float64
Estimated percent of all people who were Black between 2013-2017    float64
Estimated percent of all people who were Hispanic between 2013-2    float64
Estimated percent of all people who were White between 2013-2017    float64
dtype: object

In [18]:
ethnicity = ethnicity.sort_index()

In [19]:
ethnicity

,State,FIPS Code,Formatted FIPS,Estimated percent of all people who were Asian between 2013-2017,Estimated percent of all people who were Black between 2013-2017,Estimated percent of all people who were Hispanic between 2013-2,Estimated percent of all people who were White between 2013-2017
Census Tract,,,,,,,
1001020100,AL,1.001020e+09,1.001020e+09,1.19,5.20,2.38,88.67
1001020200,AL,1.001020e+09,1.001020e+09,1.01,54.51,1.06,42.03
1001020300,AL,1.001020e+09,1.001020e+09,0.74,26.47,8.04,61.39
1001020400,AL,1.001020e+09,1.001020e+09,0.23,8.34,9.56,80.69
1001020500,AL,1.001020e+09,1.001020e+09,3.06,16.44,0.92,78.44
...,...,...,...,...,...,...,...
78030960900,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN
78030961000,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN
78030961100,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN
78030961200,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN
78030990000,VI,7.803099e+10,7.803099e+10,NaN,NaN,NaN,NaN

## Just use the newest dict

In [20]:
d2018['zip'] = d2018['zip'].astype('str')

/Users/shinler/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
d2018['zip']  = d2018['zip'].apply(lambda x:('00'+x)[-5:] if len(x) <= 4 else x)

/Users/shinler/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
d2018.merge(ethnicity, how = 'left', left_on = 'tract', right_on = 'Census Tract')

,tract,zip,State,FIPS Code,Formatted FIPS,Estimated percent of all people who were Asian between 2013-2017,Estimated percent of all people who were Black between 2013-2017,Estimated percent of all people who were Hispanic between 2013-2,Estimated percent of all people who were White between 2013-2017
0,72001956700,00601,PR,7.200196e+10,7.200196e+10,0.00,0.73,98.68,81.02
1,72005401302,00603,PR,7.200540e+10,7.200540e+10,1.47,3.92,97.91,66.89
2,72023830400,00623,PR,7.202383e+10,7.202383e+10,0.00,0.33,100.00,60.89
3,72039955700,00638,PR,7.203996e+10,7.203996e+10,0.00,0.00,98.93,100.00
4,72051540100,00646,PR,7.205154e+10,7.205154e+10,0.45,8.25,100.00,75.97
...,...,...,...,...,...,...,...,...,...
171496,48291700700,77327,TX,4.829170e+10,4.829170e+10,2.49,17.30,4.10,77.48
171497,48141010506,79853,TX,4.814101e+10,4.814101e+10,0.00,0.00,99.06,77.54
171498,36059302300,11040,NY,3.605930e+10,3.605930e+10,43.11,1.22,1.47,50.87
171499,42003562600,15205,PA,4.200356e+10,4.200356e+10,0.00,28.39,2.28,60.97
171500,53053071504,98447,WA,5.305307e+10,5.305307e+10,6.42,16.58,8.58,58.61

## Looks like there is some missing data (dict > ethnicity Data)

In [24]:
d2018.merge(ethnicity, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna()

,tract,zip,State,FIPS Code,Formatted FIPS,Estimated percent of all people who were Asian between 2013-2017,Estimated percent of all people who were Black between 2013-2017,Estimated percent of all people who were Hispanic between 2013-2,Estimated percent of all people who were White between 2013-2017
0,72001956700,00601,PR,7.200196e+10,7.200196e+10,0.00,0.73,98.68,81.02
1,72005401302,00603,PR,7.200540e+10,7.200540e+10,1.47,3.92,97.91,66.89
2,72023830400,00623,PR,7.202383e+10,7.202383e+10,0.00,0.33,100.00,60.89
3,72039955700,00638,PR,7.203996e+10,7.203996e+10,0.00,0.00,98.93,100.00
4,72051540100,00646,PR,7.205154e+10,7.205154e+10,0.45,8.25,100.00,75.97
...,...,...,...,...,...,...,...,...,...
171496,48291700700,77327,TX,4.829170e+10,4.829170e+10,2.49,17.30,4.10,77.48
171497,48141010506,79853,TX,4.814101e+10,4.814101e+10,0.00,0.00,99.06,77.54
171498,36059302300,11040,NY,3.605930e+10,3.605930e+10,43.11,1.22,1.47,50.87
171499,42003562600,15205,PA,4.200356e+10,4.200356e+10,0.00,28.39,2.28,60.97
171500,53053071504,98447,WA,5.305307e+10,5.305307e+10,6.42,16.58,8.58,58.61

## Reset index to zipcode

In [25]:
d1_temp.merge(education, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna().set_index('Zip_1').sort_index()

,tract,State,FIPS Code,Formatted FIPS,"Estimated percent of people with a Bachelor's degree, between 20",Estimated percent of people with a high school diploma and no co,Estimated percent of people with less than a high school diploma,Estimated percent of people with a post graduate degree between,Estimated percent of people with some college or an Associate's
Zip_1,,,,,,,,,
00601,72001956300,PR,7.200196e+10,7.200196e+10,21.43,28.88,35.80,2.07,15.28
00601,72001956600,PR,7.200196e+10,7.200196e+10,9.70,26.27,34.71,5.49,22.77
00601,72001956700,PR,7.200196e+10,7.200196e+10,11.50,21.93,25.92,7.52,30.67
00601,72001956800,PR,7.200196e+10,7.200196e+10,12.76,27.40,30.17,3.91,25.33
00602,72003430200,PR,7.200343e+10,7.200343e+10,14.05,21.72,36.64,7.75,23.11
...,...,...,...,...,...,...,...,...,...
99901,2130000300,AK,2.130000e+09,2.130000e+09,13.37,33.07,11.89,7.01,33.71
99919,2198000100,AK,2.198000e+09,2.198000e+09,12.80,38.66,10.45,5.41,34.36
99925,2198000200,AK,2.198000e+09,2.198000e+09,12.34,38.13,10.67,8.00,30.96
99926,2198940100,AK,2.198940e+09,2.198940e+09,6.58,35.76,8.16,3.69,44.90
99929,2275000300,AK,2.275000e+09,2.275000e+09,14.03,36.62,11.04,6.57,32.90

## For each index(Zip_1), we want the average of all the data belonging to this zipcode
 - we do not want unrelated columns to be averaged so just drop them.

In [28]:
df = d1_temp.merge(education, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna().set_index('Zip_1').sort_index()

In [29]:
df = df.groupby(df.index).agg('mean').drop(['tract','FIPS Code', 'Formatted FIPS',],axis=1)

In [30]:
df

,"Estimated percent of people with a Bachelor's degree, between 20",Estimated percent of people with a high school diploma and no co,Estimated percent of people with less than a high school diploma,Estimated percent of people with a post graduate degree between,Estimated percent of people with some college or an Associate's
Zip_1,,,,,
00601,13.847500,26.120000,31.650000,4.747500,23.512500
00602,12.056667,25.850000,31.043333,6.553333,25.090000
00603,16.860769,26.656154,28.666154,6.710769,20.687692
00606,6.945000,35.005000,45.840000,2.165000,9.485000
00610,12.120000,33.122500,30.987500,3.532500,20.445000
...,...,...,...,...,...
99901,17.240000,30.465000,7.860000,8.052500,37.127500
99919,12.800000,38.660000,10.450000,5.410000,34.360000
99925,12.340000,38.130000,10.670000,8.000000,30.960000
99926,6.580000,35.760000,8.160000,3.690000,44.900000
99929,14.030000,36.620000,11.040000,6.570000,32.900000

In [31]:
df.to_excel(r'/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/Tables/Education.xlsx')